# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
*.tsbuildinfo


# Environment & Secrets
.env
.env.*
!.env.example

# Logs & Temporary files
*.log
logs/
backups/
tmp/
.DS_Store

# Mobile App
platform-frontend/public/downloads/*.apk
